# Assignment done by:

# Jakob Peschel  (5382576)
# Wiebke Ringels (3931668)

## Data Mining and Probabilistic Reasoning, WS19/20
Dr. Gjergji Kasneci, The University of TÃ¼bingen

# Homework 2
----


Note: Please add your solution to the homework in this Jupyter Notebook and upload it to Ilias until 03.12.19, 09:00 o'clock. Make sure you use the following naming convention: a2_[lastname]_[firstname]_[matrikelnr].ipynb
If you want to work as a group, please use the following naming convention: a2_group_[matrikelnr1]_[matrikelnr2]_[...].ipynb. Also list your group members here, for example:
- John Snow, student ID,
- Ygritte, student ID,
- ... 


----
**Your task is to:**
Given a data set aswer to questions below using **code**, for example: 
```
#Q1 How old was the youngest athlete in Olympic games based on the provided dataset?
print(df.Age.min())
> 10 
```
and yes this is true: 

`According to Olympic figures, Greek gymnast Dimitrios Loundras is the youngest known medalist. When Loundras finished third in the team parallels bars at the 1896 Olympic Games, he was 10 years and 218 days old.`


------


## In order to pass the HW, you need to answer correctly: **5 questions.**

Vadim (vadim.borisov@uni-tuebingen.de)

In [1]:
# load modules
import pandas as pd
import numpy as np

# Please comment/uncomment the correct line  below depending on internet connection and file

In [2]:
# data frame 
link_to_data = 'https://www.dropbox.com/s/16ydeynisr0ngh9/athlete_events.csv?dl=1'
# use line below if you are online
df = pd.read_csv(link_to_data)
# use line below if you are offline instead
#df = pd.read_csv('data/athlete_events.csv')

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

Q1. How old were the youngest male and female participants of the Olympic Game in 2012?

In [4]:
print('The youngest male participant was', df[df.Sex == 'M'].Age.min(),'years old.')
print('The youngest female participant was', df[df.Sex == 'F'].Age.min(),'years old.')

The youngest male participant was 10.0 years old.
The youngest female participant was 11.0 years old.

Q2. What are the mean and standart deviation of height for male tennis playes? Round your answer to the first two decimal.

In [5]:
stat_values = df[(df.Sex == 'M') & (df.Sport == 'Tennis')].Height.describe()
mean = stat_values["mean"]
std = stat_values["std"]
print('The height of male tennis players is %.2f cm on average with a standard deviation of %.2f cm.' % (mean,std))

The height of male tennis players is 184.85 cm on average with a standard deviation of 6.73 cm.

Q3. Please find the heaviest athlete among 2012 Olympics participants. What sport did he or she do?

In [6]:
print('The attributes of the heaviest athlete of the 2012 Olympics can be seen below!')

The attributes of the heaviest athlete of the 2012 Olympics can be seen below!

In [7]:
heaviest_athlete = df.loc[df[df.Year == 2012].Weight.idxmax(),:]
heaviest_athlete

ID                         12177
Name           Ricardo Blas, Jr.
Sex                            M
Age                           25
Height                       183
Weight                       214
Team                        Guam
NOC                          GUM
Games                2012 Summer
Year                        2012
Season                    Summer
City                      London
Sport                       Judo
Event     Judo Men's Heavyweight
Medal                        NaN
Name: 23156, dtype: object

In [8]:
  print("As we can see he did %s and weighted %i kg at this time" %(heaviest_athlete['Sport'], heaviest_athlete['Weight']))

As we can see he did Judo and weighted 214 kg at this time

Q4. How many times did `Heikki Ilmari Savolainen`  participate in the Olympics held in different years?

In [9]:
print('Heikki Ilmari Savolainen participated in %i different Olympics.' %df[df.Name == "Heikki Ilmari Savolainen"].Year.nunique())

Heikki Ilmari Savolainen participated in 5 different Olympics.

Q5. How many gold medals in tennis did the SWITZERLAND team win at the 2008 Olympics?

In [10]:
print("Switzerland won", df[(df.Team == 'Switzerland') & (df.Medal == 'Gold') & (df.Year == 2008) & (df.Sport == 'Tennis')].shape[0], 'medals in Tennis in the Olympic games 2008.')

Switzerland won 2 medals in Tennis in the Olympic games 2008.

Q6. Is it true that Italy won fewer medals than Portugal at the 2016 Olympics?

In [11]:
wm = df[(df.Medal == 'Gold') | (df.Medal == 'Silver') | (df.Medal == 'Bronze')] # wm means won medal
italy_medals =    wm[(df.Year == 2016) & (df.Team == 'Italy')].shape[0]
portugal_medals = wm[(df.Year == 2016) & (df.Team == 'Portugal')].shape[0]
print("Portugal won", portugal_medals,'medals, whereas italy won', italy_medals,'medals. Therefore this statement is ', italy_medals < portugal_medals,'!')

Portugal won 1 medals, whereas italy won 70 medals. Therefore this statement is  False !

/home/wiebke/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/wiebke/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Q7. What are the most and least common age groups among the participants of the 2008 Olympics? 
Please use these age groups: 
```young  = (10, 35), middle-aged = (36, 55), old = (from 56, ...)```

In [12]:
age_groups = [[],[],[]]
age_groups[2] = ['old', df[(df.Year == 2008) & (df.Age >= 56.0)].shape[0]]
age_groups[0] = ['young', df[(df.Year == 2008) & (df.Age <= 35.0)].shape[0]]
age_groups[1] = ['middle-aged', df[(df.Year == 2008) & (df.Age >= 36.0) & (df.Age <= 55.0)].shape[0]]
age_groups

[['young', 12873], ['middle-aged', 714], ['old', 13]]

In [13]:
print('Most common age group:', max(age_groups, key=lambda arr: arr[1])[0])
print('Least common age group:',min(age_groups, key=lambda arr: arr[1])[0])

Most common age group: young
Least common age group: old

Q8. Task. Please replace NaNs for two features: `Height, Weight`. Please explain your strategy.

In [22]:
stats = df.describe()
rplc_hght = stats.Height["mean"]
rplc_wght = stats.Weight["mean"]
df.Height = df.Height.fillna(rplc_hght)
df.Weight = df.Weight.fillna(rplc_wght)

print('Is any value of Height or Weight still NaN? {}'.format(df.Weight.isnull().values.any() | df.Height.isnull().values.any()))
print('All NaNs were replaced by the mean value for the specific column.')

Is any value of Height or Weight still NaN? False
All NaNs were replaced by the mean value for the specific column.

Q9. Please indicate categorical features in a data set. Store feature names in a list. 
How many categorical features did you find?

In [15]:
def is_string(column):
    # at least one string rest may be NA
    at_least_one_string = False
    for entry in column:
        if type(entry) is str:
             at_least_one_string = True
        elif np.isnan(entry): continue
        else: return False
    if at_least_one_string: return True
    else: return False
    
def is_boolean(column):
    # at least one string rest may be NA
    at_least_one_bool = False
    for entry in column:
        if type(entry) is bool: 
            at_least_one_bool = True
        else: return False
    if at_least_one_string: return True
    else: return False

def isnumber_single_value(a):
    if type(a) is complex or type(a) is int or type(a) is float:
        return True
    else: return False

def is_a_number(column):
    # at least one string rest may be NA
    at_least_one_number = False
    for entry in column:
        if isnumber_single_value(entry): 
            at_least_one_number = True
        else: return False
    if at_least_one_string: return True
    else: return False

In [16]:
cols = df.columns
categorical_feature = []
for i,col in enumerate(cols):
    if is_string(df[col]): categorical_feature.append(True)
    elif is_boolean(df[col]): categorical_feature.append(True)
#    elif is_int(col): 
#        if has_more_than_4_different_values(col): 
#            categorical_feature.append(False)
#        else:
#            categorical_feature.append(True)
    elif is_a_number(col): categorical_feature.append(False)
    else: categorical_feature.append(False)
#print(cols)
#print(categorical_feature)
categorical_features_list = list(cols[categorical_feature])
print("The following are categorical features")
print(categorical_features_list)
print("We found %i categorical features"% len(cols))

The following are categorical features
['Name', 'Sex', 'Team', 'NOC', 'Games', 'Season', 'City', 'Sport', 'Event', 'Medal']
We found 15 categorical features

# Additional Notes:
The task to write a program to categorize features into categorical and not categorical features is far from trivial and much more easier done by human. 
The above routine looks at the datatypes of the data samples of the respective features. It allocates boolean and string datatypes to categorical features and allocates numerical datatypes (int, float, complex) as not categorical features. This can be troublesome and is far from error free. 
For example one feature of the data could categorize them into 50 different classes stored in the dataset as an integer. This algorithms would categorize this feature falsely to not categorical!