# Assignment done by:

# Jakob Peschel  (5382576)
# Wiebke Ringels (3931668)

## Data Mining and Probabilistic Reasoning, WS19/20
Dr. Gjergji Kasneci, The University of Tübingen

# Homework 2
----


Note: Please add your solution to the homework in this Jupyter Notebook and upload it to Ilias until 03.12.19, 09:00 o'clock. Make sure you use the following naming convention: a2_[lastname]_[firstname]_[matrikelnr].ipynb
If you want to work as a group, please use the following naming convention: a2_group_[matrikelnr1]_[matrikelnr2]_[...].ipynb. Also list your group members here, for example:
- John Snow, student ID,
- Ygritte, student ID,
- ... 


----
**Your task is to:**
Given a data set aswer to questions below using **code**, for example: 
```
#Q1 How old was the youngest athlete in Olympic games based on the provided dataset?
print(df.Age.min())
> 10 
```
and yes this is true: 

`According to Olympic figures, Greek gymnast Dimitrios Loundras is the youngest known medalist. When Loundras finished third in the team parallels bars at the 1896 Olympic Games, he was 10 years and 218 days old.`


------


## In order to pass the HW, you need to answer correctly: **5 questions.**

Vadim (vadim.borisov@uni-tuebingen.de)

In [1]:
# load modules
import pandas as pd
import numpy as np

In [2]:
# data frame 
link_to_data = 'https://www.dropbox.com/s/16ydeynisr0ngh9/athlete_events.csv?dl=1'
df = pd.read_csv(link_to_data)

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

Q1. How old were the youngest male and female participants of the Olympic Game in 2012?

In [13]:
print('The youngest male participant was', df[df.Sex == 'M'].Age.min(),'years old.')
print('The youngest female participant was', df[df.Sex == 'F'].Age.min(),'years old.')

The youngest male participant was 10.0 years old
The youngest female participant was 11.0 years old

Q2. What are the mean and standart deviation of height for male tennis playes? Round your answer to the first two decimal.

In [103]:
df[(df.Sex == 'M')& (df.Sport == 'Tennis')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
582,334,Abubakar Sadiq Abdullahi,M,28.0,NaN,NaN,Nigeria,NGR,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Singles,NaN
1235,695,Ricardo Augusto Amaral Acioly,M,24.0,179.0,78.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Doubles,NaN
1457,812,David Dixie Adams,M,30.0,188.0,79.0,South Africa,RSA,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
1924,1061,Frdric Charles Aeschlimann,M,27.0,NaN,NaN,Switzerland,SUI,1924 Summer,1924,Summer,Paris,Tennis,Tennis Men's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269913,135043,Nenad Zimonji,M,36.0,190.0,92.0,Serbia,SRB,2012 Summer,2012,Summer,London,Tennis,Tennis Mixed Doubles,NaN
269914,135043,Nenad Zimonji,M,36.0,190.0,92.0,Serbia-1,SRB,2012 Summer,2012,Summer,London,Tennis,Tennis Men's Doubles,NaN
269915,135043,Nenad Zimonji,M,40.0,190.0,92.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Men's Doubles,NaN
270115,135135,Slobodan ivojinovi,M,25.0,198.0,96.0,Yugoslavia,YUG,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Singles,NaN
270116,135135,Slobodan ivojinovi,M,25.0,198.0,96.0,Yugoslavia,YUG,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Doubles,NaN

In [45]:
stat_values = df[(df.Sex == 'M')& (df.Sport == 'Tennis')].Height.describe()
mean = stat_values["mean"]
std = stat_values["std"]
print('The height of male tennis players is %.2f cm on average with a standard deviation of %.2f cm.' % (mean,std))

The height of male tennis players is 184.85 cm on average with a standard deviation of 6.73 cm.

Q3. Please find the heaviest athlete among 2012 Olympics participants. What sport did he or she do?

In [ ]:
print('The attributes of the heaviest athlete of the 2012 Olympics can be seen below!')

In [65]:
heaviest_athlete = df.loc[df[df.Year == 2012].Weight.idxmax(),:]
heaviest_athlete

ID                         12177
Name           Ricardo Blas, Jr.
Sex                            M
Age                           25
Height                       183
Weight                       214
Team                        Guam
NOC                          GUM
Games                2012 Summer
Year                        2012
Season                    Summer
City                      London
Sport                       Judo
Event     Judo Men's Heavyweight
Medal                        NaN
Name: 23156, dtype: object

In [67]:
  print("As we can see he did %s and weighted %i kg at this time" %(heaviest_athlete['Sport'], heaviest_athlete['Weight']))

As we can see he did Judo and weighted 214 kg at this time

Q4. How many times did `Heikki Ilmari Savolainen`  participate in the Olympics held in different years?

In [74]:
print('Heikki Ilmari Savolainen participated in %i different Olympics.' %df[df.Name == "Heikki Ilmari Savolainen"].Year.nunique())

Heikki Ilmari Savolainen participated in 5 different Olympics.

Q5. How many gold medals in tennis did the SWITZERLAND team win at the 2008 Olympics?

In [87]:
df[(df.Team == 'Switzerland') & (df.Medal == 'Gold') & df.Year == 2008]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [90]:
df[(df.Team == 'Switzerland')  & df.Year == 2008]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [101]:
df[(df.Team == 'Switzerland') & df.Year == 1956]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [102]:
df[(df.Team == 'Switzerland')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
663,385,"Max ""Xam"" Abegglen",M,22.0,NaN,NaN,Switzerland,SUI,1924 Summer,1924,Summer,Paris,Football,Football Men's Football,Silver
664,385,"Max ""Xam"" Abegglen",M,26.0,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Football,Football Men's Football,NaN
743,426,Edme Abetel (-Barr),F,29.0,NaN,NaN,Switzerland,SUI,1952 Winter,1952,Winter,Oslo,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
894,511,Tadesse Abraham,M,33.0,178.0,61.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Marathon,NaN
994,560,Amir Abrashi,M,22.0,172.0,70.0,Switzerland,SUI,2012 Summer,2012,Summer,London,Football,Football Men's Football,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270997,135512,Roland Zwahlen,M,24.0,186.0,73.0,Switzerland,SUI,2002 Winter,2002,Winter,Salt Lake City,Biathlon,Biathlon Men's 4 x 7.5 kilometres Relay,NaN
271021,135527,Rolf Zwicky,M,26.0,175.0,70.0,Switzerland,SUI,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Multihull,NaN
271041,135541,Werner Zwimpfer,M,24.0,182.0,80.0,Switzerland,SUI,1968 Summer,1968,Summer,Mexico City,Rowing,Rowing Men's Coxless Pairs,NaN
271042,135542,Werner Zwingli,M,29.0,NaN,NaN,Switzerland,SUI,1956 Winter,1956,Winter,Cortina d'Ampezzo,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,NaN
271043,135542,Werner Zwingli,M,29.0,NaN,NaN,Switzerland,SUI,1956 Winter,1956,Winter,Cortina d'Ampezzo,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

In [78]:
df.Medal == 'Gold'

0         False
1         False
2         False
3          True
4         False
          ...
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Medal, Length: 271116, dtype: bool

In [79]:
df.Team == 'Switzerland'

0         False
1         False
2         False
3         False
4         False
          ...
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Team, Length: 271116, dtype: bool

Q6. Is it true that Italy won fewer medals than Portugal at the 2016 Olympics?

In [182]:
wm = df[(df.Medal == 'Gold') | (df.Medal == 'Silver') | (df.Medal == 'Bronze')] # wm means won medal
italy_medals =    wm[(df.Year == 2016) & (df.Team == 'Italy')].shape[0]
portugal_medals = wm[(df.Year == 2016) & (df.Team == 'Portugal')].shape[0]
print("Portugal won", portugal_medals,'medals, whereas italy won', italy_medals,'medals. Therefore this statement is ', italy_medals < portugal_medals,'!')

Portugal won 1 medals, whereas italy won 70 medals. Therefore this statement is  False !

/home/jakob/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/jakob/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Q7. What are the most and least common age groups among the participants of the 2008 Olympics? 
Please use these age groups: 
```young  = (10, 35), middle-aged = (36, 55), old = (from 56, ...)```

In [183]:
age_groups['old'] = df[(df.Year == '2008') & df.Age >= 56.0].shape[0]
age_groups['young'] = df[(df.Year == '2008') & df.Age <= 35.0].shape[0]
age_groups['middle-aged'] = df[(df.Year == '2008') & (df.Age >= 35.0) & (df.Age <= 55.0)].shape[0]
age_groups

{'old': 0, 'young': 271116, 'middle': 0, 'middle-aged': 0}

In [184]:
print('Most common age group:', max(age_groups))
print('Least common age group:', min(age_groups))
print('But as both "old" and "middle-aged" have no members the least common groups are both "old" and "middle-aged"')

Most common age group: young
Least common age group: middle
But as both "old" and "middle-aged" have no members the least common groups are both "old" and "middle-aged"

Q8. Task. Please replace NaNs for two features: `Height, Weight`. Please explain your strategy.

Q9. Please indicate categorical features in a data set. Store feature names in a list. 
How many categorical features did you find?